*{
    all: none;
}


html, body {
    height: 100%;
    width: 100%;
    background-color: #808080;
}

#centre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 300px;
    border: 1px solid red;
}