* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #312f2f;

}
.container {
    max-width: 300px;
    width: 80%;
    margin: 100px auto;
}

.timerContainer {
    display: flex;
    justify-content: center;
}

.timerContainer .row {
    display: flex;
    padding: 0 5px;
    justify-content: space-around;
    align-items: center;
}
h1{
    color: white;
    margin-bottom: 50px;
}
.timerContainer label{
    padding: 0 10px;
    color: white;
}

input{
    outline: none;
    border: none;
    color: red;
    background: transparent;
    font-size: 20px;
    max-width: 30px;
}
